.calendar > div {
  display: flex;
  color: white;
  background-color: #b83943;
  padding: 8px;
}

.calendar > div > div:nth-child(2) {
  flex: 1;
  text-align: center;
}

.calendar > ul {
  background-color: #5c5856;
}

.calendar {
  width: 224px;
}

.calendar li {
  list-style-type: none;
  color: white;
  background-color: #5c5856;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: right;
  cursor: pointer;
  padding: 2px;
}

.calendar li.active {
  background-color: white;
  color: #5c5856;
}

.calendar .footer {
  display: flex;
  justify-content: flex-end;
}

.calendar .footer > button {
  color: #5c5856;
  text-transform: uppercase;
  /* background-color: #b83943; */
  padding: 8px 16px;
  border: 1px solid #b83943;
  box-shadow: 0px 2px 2px #544f5f;
  border-radius: 2px;
}
