.tabs > ul {
  display: flex;
}

.tabs li {
  color: white;
  list-style-type: none;
  text-transform: capitalize;
  background-color: #544f5f;
  padding: 16px;
  cursor: pointer;
}

.tabs li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.tabs li.active {
  background-color: #b83943;
}

.tabs li:not(.active):hover {
  background-color: rgba(184, 57, 67, 0.9);
}

.tabs li > i {
  padding: 0 8px;
}

button.pill {
  background-color: rgb(214, 71, 72);
  border: 1px solid rgb(214, 71, 72);
  border-radius: 2px;
  color: white;
  box-sizing: border-box;
  cursor: pointer;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forms {
  background-color: rgb(248, 246, 247);
  border-top: 4px solid #b83943;
  padding: 32px;
  min-width: 600px;
  max-width: 800px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h4 {
  text-transform: uppercase;
}

.button-group {
  display: flex;
  border: 1px solid #ece9eb;
  border-radius: 4px;
}

.forms > div > .header,
.forms > div > .content,
.forms > div > .footer {
  margin-bottom: 16px;
}

.button-group > button {
  display: inline-flex;
  padding: 8px;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}
.button-group > button.active {
  background-color: rgb(214, 71, 72);
  color: white;
}

.forms input {
  width: 100%;
  height: 32px;
  font-size: 16px;
  padding: 0 8px;
}

.forms input:focus {
  outline: none;
}

.field {
  display: flex;
  flex-direction: column;
}

.field > span {
  text-transform: uppercase;
  color: #5c5856;
  margin-bottom: 8px;
}

.destinations,
.dates {
  display: flex;
  padding: 8px 0;
  margin-bottom: 16px;
}

.destinations > .field {
  flex: 1;
}

.dates > .field:not(:last-child) {
  flex: 2;
}
.dates > .field:last-child {
  flex: 1;
}

.destinations > .field:not(:last-child),
.dates > .field:not(:last-child) {
  margin-right: 32px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer button {
  cursor: pointer;
  font-size: 16px;
}

.footer .search button {
  color: white;
  text-transform: uppercase;
  background-color: #b83943;
  padding: 8px 16px;
  border: 1px solid #b83943;
  box-shadow: 0px 2px 2px #544f5f;
  border-radius: 2px;
}

.footer .advanced-search button {
  border: none;
  color: #b83943;
  font-style: italic;
  text-transform: capitalize;
  background-color: transparent;
  font-family: serif;
  border-bottom: 1px solid #b83943;
}
