* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  justify-content: center;
}

.site {
  max-width: 1024px;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: unset;
}

body,
ul,
button {
  margin: 0;
  padding: 0;
}

.site {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

#nav-title-logo {
  color: white;
}

.fullscreen-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

ul.currency-dropdown {
  overflow-y: scroll;
  height: 400px;
  position: absolute;
}

ul.currency-dropdown li {
  overflow-y: scroll;
  list-style-type: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 16px;
  cursor: pointer;
  color: white;
  background-color: rgb(184, 57, 67);
  min-width: 160px;
  text-align: center;
}

ul.currency-dropdown li:hover {
  background-color: rgba(184, 57, 67, 0.8);
}

.destination-dropdown-container {
  position: relative;
}

ul.destination-dropdown li {
  list-style: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 16px;
  cursor: pointer;
}

ul.destination-dropdown {
  overflow-y: scroll;
  max-height: 200px;
  position: absolute;
  background-color: rgb(248, 246, 247);
  top: 100%;
  width: 100%;
  -webkit-box-shadow: 2px 5px 25px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 5px 25px 0px rgba(0, 0, 0, 0.5);
}

ul.destination-dropdown li:hover {
  background-color: rgb(255, 255, 255);
}
