.top-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.top-nav li,
.lower-nav li {
  color: white;
  list-style-type: none;
  padding: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.lower-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left > ul,
.nav-social > ul,
.nav-right > ul {
  display: flex;
  margin: 0;
}

.nav-left li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-left li:last-child {
  display: flex;
  align-items: center;
}

.nav-left i {
  font-size: 12px;
  margin: 0 4px;
}

.nav-right li {
  margin: 0 8px;
}

.nav-right i {
  margin-right: 8px;
}

.nav-right li.active {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5%;
}
